CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt3000=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_glinet_gl-mt3000=""

CONFIG_first_card_name="MT7981"

CONFIG_MTK_CHIP_MT7981=y
CONFIG_MTK_CONNINFRA_APSOC_MT7981=y
CONFIG_MTK_FIRST_IF_MT7981=y
CONFIG_MTK_MT_WIFI_DRIVER_VERSION_7673=y
CONFIG_MTK_MT_WIFI_FIRMWARE_PATH_MT7981="mt7981-fw-20250408"
CONFIG_MTK_MT_WIFI_MT7981_20260601=y

CONFIG_WARP_CHIPSET="mt7981"

# CONFIG_MTK_MEMORY_SHRINK is not set
# CONFIG_MTK_MEMORY_SHRINK_AGGRESS is not set