############################
# MT7981 glinet_gl-mt3000 specific
############################

CONFIG_first_card_name="MT7981"
CONFIG_MTK_CHIP_MT7981=y
CONFIG_MTK_CONNINFRA_APSOC_MT7981=y
CONFIG_MTK_FIRST_IF_MT7981=y
CONFIG_MTK_MT7981_NEW_FW=y
CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt3000=y
CONFIG_TARGET_mediatek_mt7981=y
CONFIG_WARP_CHIPSET="mt7981"

############################
# 10. Platform / memory helpers
############################
CONFIG_MTK_MEMORY_SHRINK_AGGRESS=y